# systemd service file for holoarchive
[Unit]
Description=Stream archiver for the channel %i
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/olari/holoarchive/live-dl %i
User=olari
Group=olari
Type=idle
Restart=always
RestartSec=5
RestartPreventExitStatus=0
TimeoutStopSec=10
LimitNICE=+0

[Install]
WantedBy=multi-user.target
